Source: hss-rtc
Section: python
Priority: optional
Maintainer: <mitxel.garcia@ericsson.com>
Build-Depends: debhelper (>= 7),
Standards-Version: 3.9.2

Package: hss-rtc
Architecture: all
Section: python
Depends: python, ${misc:Depends}, ${python:Depends}
Description: Automation framework library
