#File version 1.02

#Changes from version 1.01
#Added BuildOTALNr, that specifies the number of intervals for
#which to build a average trafficl load.
#DorbIIOPport has been removed and replaced by TelorbShellPort.
#The TelorbShellPort is the tlenet port for CLI
#
#TelnetUser has been removed
#TelnetPassword has been removed
#IO_Processor has been removed

#Changes from version 1.00
#Added the ExcludeDicos = "dicos processor"
#The excluded dicos processors won't be included
#in the traffic load average


CfgEditor = gedit


#####################################################################
# VIP the VIP address of the cabinet. MUST BE OAM VIP	    #
#####################################################################
VIP =  10.1.32.254

#####################################################################
# DorbIIOPport the TelORBManager port				    #
# REPLACED BY TelorbShellPort                                       #
#####################################################################
TelorbShellPort = 8000

#####################################################################
# LoadLoggerport the port used by the win GUI			    #
#####################################################################
LoadLoggerport = 10000

#####################################################################
# GraphScanSize the number of samples for gnuplot		    #
#####################################################################
GraphScanSize = 0

#####################################################################
# ExcludeDicos do not include this dicos processor in the	    #
# traffic load average						    #
#####################################################################
#ExcludeDicos = "Proc_m0_s11"
#ExcludeDicos = "Proc_m1_s11"

#####################################################################
# LoadLogInterval the interval in seconds to log                    #
# the processor load. If the interval is set to 0 the load will be  #
# logged as fast as possible (cyclic logging)                       #
#####################################################################
LoadLogInterval = 1

#####################################################################
# BuildOTALNr the number of LoadLogIntervals for which to build     #
# an average traffic load displayed in command line                 #
#####################################################################
BuildOTALNr = 20

#####################################################################
# LogLoadReadings if to log the load for each interval or not	    #
# If false only the avarage load will be logged			    #
#####################################################################
LogLoadReadings = true

#####################################################################
# LogLoadReadings in binary format if LogLoadReadings is true	    #
#####################################################################
LogLoadBinary = true

#####################################################################
# MemLogInterval the interval in seconds to log                     #
# the memory usage. About 2.5 processors can be logged per second.  #
# If the interval is set to 0 the memory is logged as fast as       #
# as possible (cyclic logging)                                      #
#####################################################################
MemLogInterval = 1

#####################################################################
# LogMemReadings if to log the memory usage for each interval or not#
# If false only the avarage will be logged			    #
#####################################################################
LogMemReadings = true

#####################################################################
# LogTime the time to carry out the logging			    #
# If commented out or set to 0 the logging will continue until	    #
# the user presses ctrl+c					    #
# Format:							    #
# s			log s seconds 				    #
# mm:ss		log mm minutes and ss seconds			    #
# h:mm:ss	log h hours, mm minutes and ss seconds		    #
#####################################################################
LogTime = 120  # equal to LogTime = 90


SummaryDirectory = "summary"
MemoryDirectory = "memory"
LoadDirectory = "load"
