Source: hss-st-remotecontrol
Section: networking
Priority: optional
Maintainer: <mitxel.garcia@ericsson.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2

Package: hss-st-remotecontrol 
Architecture: amd64
Section: networking
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Send UDP messages
