#!/usr/bin/make -f

export PYBUILD_NAME=rtc_controller
export PYBUILD_INSTALL_ARGS=--install-layout=deb
export DPKG_EXPORT_BUILDFLAGS=1

%:
	dh $@ --with python2.7 --with=systemd --buildsystem=pybuild
